@import "bootstrap/dist/css/bootstrap.min.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.disp-card {
  width: 100vw;
  height: 90vh;
  display: flex;
  background-color: rgb(44, 101, 101);
}

.card-body {
  display: flex;
  height: 100vh;
  justify-content: space-between;
}

.btnBar {
  display: flex;
  position: relative;
  justify-content: space-evenly !important;
  justify-self: flex-end !important;
  bottom: 1em;
  z-index: 2;
}

.formBtn {
  background-color: rgb(28, 48, 40) !important;
  border: solid 1px whitesmoke;
  margin: 1em;
}
